.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-from {
  display: flex;
  flex-direction: column;
  padding: 22px;
  border-radius: 10px;
}

.login-heading {
  font-family: Roboto;
  font-size: 24px;
  color: black;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 0px;
  align-self: center;
}

.label {
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  color: rgb(70, 69, 69);
  margin-bottom: 5px;
}

.input {
  font-family: Roboto;
  color: black;
  padding: 8px 16px;
  font-weight: 500;
  border: 1px solid gray;
  background-color: #ffffff;
  margin-bottom: 14px;
}

.login-btn {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  background-color: rgb(60, 60, 241);
  font-size: 15px;
  color: #ffffff;
  border-radius: 4px;
}
